__pycache__/
# Ignore changes to CSV files; these don't need to be consistent across machines
data/dbf_format/
data/rdb_format/
# Ignore Jupyter notebook; this is just a sandbox to test stuff out
notes.ipynb
/queries
# File containing sensitive info
.env